:root {
  /* Font-families */
  --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif;
  --font-header: SF Pro Display, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif;

  /* SVGs */
  --svg-search: url("/misc/search.svg");

  /* Colors */
  --rp-base: 32deg 57% 95%;
  --rp-surface: 35deg 100% 98%;
  --rp-overlay: 33deg 43% 91%;
  --rp-muted: 257deg 9% 61%;
  --rp-subtle: 248deg 12% 52%;
  --rp-text: 248deg 19% 40%;
  --rp-love: 343deg 35% 55%;
  --rp-gold: 35deg 81% 56%;
  --rp-rose: 3deg 53% 67%;
  --rp-pine: 197deg 53% 34%;
  --rp-foam: 189deg 30% 48%;
  --rp-iris: 268deg 21% 57%;
  --rp-highlightLow: 25deg 35% 93%;
  --rp-highlightMed: 10deg 9% 86%;
  --rp-highlightHigh: 315deg 4% 80%;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* SVGs */
    --svg-search: url("/misc/search-dark.svg");
    /* Colors */
    --rp-base: 246deg 24% 17%;
    --rp-surface: 248deg 24% 20%;
    --rp-overlay: 248deg 21% 26%;
    --rp-muted: 249deg 12% 47%;
    --rp-subtle: 248deg 15% 61%;
    --rp-text: 245deg 50% 91%;
    --rp-love: 343deg 76% 68%;
    --rp-gold: 35deg 88% 72%;
    --rp-rose: 2deg 66% 75%;
    --rp-pine: 197deg 48% 47%;
    --rp-foam: 189deg 43% 73%;
    --rp-iris: 267deg 57% 78%;
    --rp-highlightLow: 245deg 22% 20%;
    --rp-highlightMed: 247deg 16% 30%;
    --rp-highlightHigh: 249deg 15% 38%;
  }
}
