:root {
  /* Font-families */
  --font-sans-serif: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-header: "Metropolis", sans-serif;

  /* SVGs */
  --svg-search: url("/misc/logo-outline.svg");

  /* Colors */
  --rp-base: 32deg 57% 95%;
  --rp-surface: 35deg 100% 98%;
  --rp-overlay: 33deg 43% 91%;
  --rp-muted: 257deg 9% 61%;
  --rp-subtle: 248deg 12% 52%;
  --rp-text: 248deg 19% 40%;
  --rp-love: 343deg 35% 55%;
  --rp-gold: 35deg 81% 56%;
  --rp-rose: 3deg 53% 67%;
  --rp-pine: 197deg 53% 34%;
  --rp-foam: 189deg 30% 48%;
  --rp-iris: 268deg 21% 57%;
  --rp-highlightLow: 25deg 35% 93%;
  --rp-highlightMed: 10deg 9% 86%;
  --rp-highlightHigh: 315deg 4% 80%;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* SVGs */
    --svg-search: url("/misc/logo-outline-dark.svg");
    /* Colors */
    --rp-base: 249deg 22% 12%;
    --rp-surface: 247deg 23% 15%;
    --rp-overlay: 248deg 25% 18%;
    --rp-muted: 249deg 12% 47%;
    --rp-subtle: 248deg 15% 61%;
    --rp-text: 245deg 50% 91%;
    --rp-love: 343deg 76% 68%;
    --rp-gold: 35deg 88% 72%;
    --rp-rose: 2deg 55% 83%;
    --rp-pine: 197deg 49% 38%;
    --rp-foam: 189deg 43% 73%;
    --rp-iris: 267deg 57% 78%;
    --rp-highlightLow: 244deg 18% 15%;
    --rp-highlightMed: 249deg 15% 28%;
    --rp-highlightHigh: 248deg 13% 36%;
  }
}
